# ==========================================
# SchemaCraft Root - Docker Compose Environment
# ==========================================

# 1. JWT Secret (OBLIGATORIO para firma de tokens de sesión)
JWT_SECRET=DBhDicZeRZzuxc72TnzMmZ2lGzx1-tKrnz3zFK89tSTm3FassPCasHtplAXlyOhw

# 2. Google OAuth 2.0 (Opcional)
GOOGLE_CLIENT_ID=

# 3. Google Gemini API Key (CU6/CU7 - Modelado por IA)
GEMINI_API_KEY=
